.player-info{
    display: inline-block;
    position: absolute;
    z-index: 200;
    text-align: center;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    box-shadow: -1px 1px 3px #000;
    -webkit-box-shadow: -1px 1px 3px #000;
}
.player-info .player-name{
    overflow: hidden;
    position: absolute;
    left: 0;
    font-size: 11px;
    box-sizing: content-box;
}
.player-info .small-score{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: content-box;
}
.player-info .small-score.expanded{
    height: 40px;
    transition: all 200ms ease 500ms;
}
.player-info .small-score .small-score-full{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    -webkit-opacity: 0.5; 
    background-color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.player-info .small-score .small-score-bar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 1;
    -webkit-opacity: 1;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(243,80,68,0.8);
    z-index: 401;
}
.player-info .large-score{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    padding: 3px 0;
    color: #fff;
    font-size: 9px;
    transition: all 100ms ease 0s;
    box-sizing: content-box;
}
.player-info .large-score.expanded{
    height: 30px;
    font-size: 15px;
    padding: 5px 0;
    transition: all 200ms ease 500ms;
}
.rank-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    font-size: 0px;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0;
    z-index: 402;
}
.rank-container.expanded{
    opacity: 1;
    font-size: 22px;
}
.player-info .pop-up-msg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 12px;
    width: max-content;
    padding: 3px 6px;
    vertical-align: middle;
    width: -webkit-max-content;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: all 100ms linear 0s;
    -webkit-transition: all 100ms linear 0s;
    box-sizing: content-box;
}
button.next-button {
    position: absolute;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}
button.show-score-button{
    position: absolute;
    left: 448;
    width: 33;
    height: 33;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: none;
    background-color: #71B6FF;
    transition: all 200ms ease 0ms;
    opacity: 0;
}
button.ok-button{
    position: absolute;
    left: 448;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    bottom: 76px;
    border: none;
    background-color: #FFEB3B;
    transition: all 200ms ease 0s;
    opacity: 0
}
button.ok-button.show{
    opacity: 1;
    width: 30px;
    height: 30px;
    transition: all 100ms ease 100ms;
}
button.show-score-button.show{
    opacity: 1;
    width: 30px;
    height: 30px;
    transition: all 200ms ease 100ms;
}
.game-status{
    position: absolute;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 4px;
    box-sizing: content-box;
}
.score-overlay{
    position: absolute;
    left: 0;
    top: 0;
}
hr{
    margin: 0;
    position: absolute;
    left: 0;
    top: 175px;
    width: 100%;
}
.playingCards{
    position: absolute;
    left: 0;
    top: 0;
}
.card{
	position: absolute;
	width: 50px;
	height: 70px;
	/*-moz-box-shadow: -.05em .05em .1em #757575;
    -webkit-box-shadow: -.05em .05em .1em #757575;
    box-shadow: -.05em .05em .1em #757575;*/
    cursor: pointer;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    background-color: rgba(0,0,0,0);
    -webkit-background-color: rgba(0,0,0,0);
    /*border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;*/
}
.card img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    -moz-box-shadow: -.05em .05em .1em #757575;
    -webkit-box-shadow: -.05em .05em .1em #757575;
    box-shadow: -.05em .05em .1em #757575;
}
.card .back{
    backface-visibility : hidden;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    /*transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;*/
    /*transform : perspective(400px) rotateY(0deg);
    -webkit-transform : perspective(400px) rotateY(0deg);*/
    /*-webkit-transition: 300ms all ease-in-out 0.1s;
    transition: 300ms all ease-in-out 0.1s;*/
}
.card .front{
    backface-visibility : hidden;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    /*transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;*/
   /* transform : perspective(400px) rotateY(179.9deg);
    -webkit-transform : perspective(400px) rotateY(179.9deg);*/
    /*-webkit-transition: 300ms all ease-in-out 0s;
    transition: 300ms all ease-in-out 0s;*/
}
.card .backRotated{
    backface-visibility : hidden;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform : perspective(400px) rotateY(179.9deg) rotateX(0deg) translateZ(0);
    -webkit-transform : perspective(400px) rotateY(179.9deg) rotateX(0deg) translateZ(0);
    -webkit-transition: 300ms all ease-in-out 0s;
    transition: 300ms all ease-in-out 0s;
}
.card .frontRotated{
    backface-visibility : hidden;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform : perspective(400px) rotateY(0deg) rotateX(0deg) translateZ(0);
    -webkit-transform : perspective(400px) rotateY(0deg) rotateX(0deg) translateZ(0);
    -webkit-transition: 300ms all ease-in-out 0s;
    transition: 300ms all ease-in-out 0s;
}
.distribute-button{
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 100px;
    height: 40px;
    background-color: beige;
}
.init-button{
	left: 20%;
}
.display-button{
    left: 80%;
}
.poppins{
    background: -webkit-radial-gradient(center, circle cover, #f59120 00%, #000 120%);
    background: -ms-radial-gradient(center, circle cover, #f59120 00%, #000 120%);
    background: -moz-radial-gradient(center, circle cover, #f59120 00%, #000 120%);
    background: -o-radial-gradient(center, circle cover, #f59120 00%, #000 120%);
    background: radial-gradient(center, circle cover, #f59120 00%, #000 120%);
}
.sushi{
    background: -webkit-radial-gradient(center, circle cover, #94c23d 00%, #000 120%);
    background: -ms-radial-gradient(center, circle cover, #94c23d 00%, #000 120%);
    background: -moz-radial-gradient(center, circle cover, #94c23d 00%, #000 120%);
    background: -o-radial-gradient(center, circle cover, #94c23d 00%, #000 120%);
    background: radial-gradient(center, circle cover, #94c23d 00%, #000 120%);
    
}
.viking{
    background: -webkit-radial-gradient(center, circle cover, #4c9dcb 00%, #000 120%);
    background: -moz-radial-gradient(center, circle cover, #4c9dcb 00%, #000 120%);
    background: -ms-radial-gradient(center, circle cover, #4c9dcb 00%, #000 120%);
    background: -o-radial-gradient(center, circle cover, #4c9dcb 00%, #000 120%);
    background: radial-gradient(center, circle cover, #4c9dcb 00%, #000 120%);
}
.orchid{
    background: -webkit-radial-gradient(center, circle cover, #c583ac 00%, #000 120%);
    background: -moz-radial-gradient(center, circle cover, #c583ac 00%, #000 120%);
    background: -ms-radial-gradient(center, circle cover, #c583ac 00%, #000 120%);
    background: -o-radial-gradient(center, circle cover, #c583ac 00%, #000 120%);
    background: radial-gradient(center, circle cover, #c583ac 00%, #000 120%);
}
.flamingo{
    background: -webkit-radial-gradient(center, circle cover, #df3921 00%, #000 120%);
    background: -moz-radial-gradient(center, circle cover, #df3921 00%, #000 120%);
    background: -ms-radial-gradient(center, circle cover, #df3921 00%, #000 120%);
    background: -o-radial-gradient(center, circle cover, #df3921 00%, #000 120%);
    background: radial-gradient(center, circle cover, #df3921 00%, #000 120%);
}
.haze{
    background-color: #461C56;
/*    background: -webkit-radial-gradient(center, circle cover, #795fa1 00%, #000 120%);
    background: -moz-radial-gradient(center, circle cover, #795fa1 00%, #000 120%);
    background: -ms-radial-gradient(center, circle cover, #795fa1 00%, #000 120%);
    background: -o-radial-gradient(center, circle cover, #795fa1 00%, #000 120%);
    background: radial-gradient(center, circle cover, #795fa1 00%, #000 120%);*/
}