<?xml version='1.0' encoding='utf-8'?>
<widget id="com.game.sevencentre" version="0.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sevens</name>
    <description>
      Satti Centre Mobile App
    </description>
    <author email="nverdhan@gmail.com" href="http:/playingcards.herokuapp.com">
        Naisheel Verdhan
    </author>
    <feature name="Custom URL scheme">
        <param name="id" value="cordova-plugin-customurlscheme" />
        <param name="url" value="https://github.com/EddyVerbruggen/LaunchMyApp-PhoneGap-Plugin.git" />
        <variable name="URL_SCHEME" value="sevenscards" /><!-- change as appropriate -->
    </feature>
    <content src="index.html"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="landscape" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="1000"/>
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/hdpi.png" density="land-hdpi"/>
        <splash src="res/ldpi.png" density="land-ldpi"/>
        <splash src="res/mdpi.png" density="land-mdpi"/>
        <splash src="res/xhdpi.png" density="land-xhdpi"/>
    </platform>
</widget>
