/*.ng-scope { height: 100%; }*/
.bckimg{
	 position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  /*background-image: url('../../assets/img/card-bck.jpg');*/
  background-image: url('../../assets/img/bckimg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  /*width: 1200px;*/
  /*height: 800px;*/

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.content {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  height: 100%;
 /* z-index: 5;
  margin-left: 20px;
  margin-right: 20px;*/
}
.flogin{
	background: rgb(81,112,173);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(81,112,173,1) 0%, rgba(53,84,147,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(81,112,173,1)), color-stop(100%,rgba(53,84,147,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(81,112,173,1) 0%,rgba(53,84,147,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(81,112,173,1) 0%,rgba(53,84,147,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(81,112,173,1) 0%,rgba(53,84,147,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(81,112,173,1) 0%,rgba(53,84,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5170ad', endColorstr='#355493',GradientType=1 );
	border:1px solid #2d416d;
	box-shadow: 0 1px #5670A4 inset,
				0 0 10px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	position: relative;
	width: 300px;
	height: 380px;
	/*margin-top: 90px;*/
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px 30px 0 30px;
	text-align: center;

	backface-visibility: hidden;
    display: inline-block;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    vertical-align: middle;
    cursor: pointer;
}

.flogin:hover{
	transform: translateY(-5px);
}

.flogin:hover:before{
	opacity: 1;
    transform: translateY(5px);
}
.flogin:before{
	background: radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 10px;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    width: 90%;
    z-index: -1;
}
.card-img-upper{
	position: relative;
	top: -29px;
	left: -119px;
	color:#fff; 
	font-size:30pt;
}
.card-img-lower{
	position: relative;
	bottom: -100px;
	right: -124px;
	color:#fff; 
	font-size:30pt;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.card-img{
	position: relative;
	top: 28px;
}

.welcome-text{
	font-family: 'Merriweather';
	margin-left: 100px;
}
.welcome-text>h1{
	font-size: 30pt;

}

.flex-container-row{
	margin-top: 90px;
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
}
 div.profile .face {
  border-radius: 80px;
  border: 1px solid #ddd;
  max-height: 80px;
}

div.profile h1{
	font-size: 20pt;
	font-family: 'Merriweather'
}

.homepage{
	font-family: 'Merriweather';
}

.home-elem{
	width: 500px;
}

.redcol{
	background-color: rgba(241,103,103,1)!important;
	text-transform: none;
	color: #fff;
}
.bluecol{
	background-color: rgba(122,206,224,1)!important;
}
.bluecoldark{
	background-color: rgba(55,162,181,1)!important;
	color: #fff;
	width: 300px;
	height: 60px
}
/* Game Page */
.waiting{

}
.push-wrap{
	height: 100%;
	max-width: 100%;
}
.bcktrans{
	background-color: rgba(0,0,0,0)!important;
}
.chatwindow{
	width: 400px;
}
.md-sidenav-right{
	max-width: 340px;
}
md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed.md-sidenav-right {
	position: absolute!important;
	right: 0;
	left:auto!important;
}
.chat-container{
	width: 100%;
	max-height: 100%!important;
	height: 100%;
	overflow: auto;
	position: absolute;
	bottom: 0;
	padding-top: 65px!important;
	background-color: rgba(0,0,0,0)!important;
}
.chat-box{
	max-width: 100%;
}
.chat-box md-divider{
	border-top-color: #d3d3d3;
}
.md-tile-content{
	max-width: 80%!important;
	word-wrap: break-word;
	padding: 4px;
	font-size: 10pt;
}
.chatsend md-input-group.md-default-theme input{
	min-width: 100%;
	background-color: #fff;
	padding-left: 8px;
}
md-content.md-padding{
	padding: 8px;
	padding-right: 0px!important;
}
.md-toolbar-tools md-button{
	font-size: 8pt;
	color: #E0E0E0;
}
.chatsend{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 10px;
	margin-left: -16px;
}
.chatsend md-button.md-button-inner{
	height: auto!important;
	margin-left: -8px;
}
.chat-hist{
	width: 100%;
	padding: 10px;
	background-color: rgba(0,0,0,0)!important;
}
.chat-head{
	/*background-color:#E0E0E0;*/
	color: #fff;
	position:absolute;
	top:0;
/*	background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),rgba(241,103,103,1);*/
	background-size: cover;	
}
/*Score dialog*/
.scoredialog{
	width: 500px;
}
.score-head{
	background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
	url('../../assets/img/coverimg.jpg');	
	background-size: cover;	
}
.imgholder{
	width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 10px!important;
    position: relative;
}
.score-face{
	position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto!important; 
    height: auto;
    width: 50px;
}
.player-container-score{
	padding-top: 8px;
}
.player-container{
	padding-top: 4px;
	padding-bottom: 4px;
}
/*.fracscore{
	font-size: 20pt;
	color: rgba(241,103,103,1);
	margin-left: 40px;
	margin-top: -20px;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}*/
.fracscore, .fracscore-top, .fracscore-bottom {
    padding: 0 5px; 
    font-size: 10pt;
	color: rgba(241,103,103,1);
	margin-left: 20px;
	margin-top: -3px;   
}

.fracscore {
    display: inline-block;
    text-align: center;    
}

.fracscore-bottom{
    border-top: 1px solid #000;
    display: block;
}
.progress-container{
	padding-bottom: 4px;
}
.total-score{
	position: absolute;
	right: 0;
	color: green;
}

/*Player profiles*/
.ball {
  position: relative;
  /*top: 50%;*/
  /*top: 100px;
  left: -50%;*/
/*  margin-top: -50px;
  margin-left: -50px;*/
  height: 50px;
  width: 50px;
  border: 3px solid #E6E6E6;
  /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/avatar_copy.jpg);*/
  background-size: cover!important;
  border-radius: 1000px;
  transform: scale(0);
  opacity: 0;
  transition-duration: 0;
  transition-timing-function: cubic-bezier(0.005, 0.95, 0.135, 1.205);
}
.ball .msg-count {
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: rgba(0, 0, 0, 0);*/
  /*background-image: url("assets/img/ic_chat_24px.svg");*/
  /*background-size: cover;*/
/*  background-position: center center !important;
  background-size: cover !important;*/
  color: #FFF;

  border: 1px solid #FFF;
  background: #E80202;
  height: 20px;
  width: 20px;
  border-radius: 1000px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  opacity: 0;
  transform: scale(0);
  transition-timing-function: cubic-bezier(0.005, 0.95, 0.135, 1.205);
}
.ball .halo {
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0);
}
.ball .name{
	position: absolute;
	top: 0;
  	left: 55px;
  	color: black;
  	font-size: 12pt;
}
.ball .notif {
  position: absolute;
  top: 23px;
  left: 50px;
  width: 183px;
  opacity: 0;
}
.ball .notif .bar {
  position: relative;
  border-radius: 1000px;
  background: #E6E6E6;
  height: 20px;
  line-height: 30px;
  width: 0;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
.ball .notif .bar .text {
  position: absolute;
  margin: 0;
  font-size: 9pt;
  color: #555;
  width: 175px;
  z-index: 1;
}
.ball .notif .bar .action {
  position: relative;
  z-index: 2;
  height: 20px;
  width: 20px;
  background: #BABABA;
  float: right;
  margin-top: 5px;
  border-radius: 100px;
  box-shadow: 10px 0 0 0 #FFF, -10px 0 10px 0 #FFF, inset 0 0 0 1px #FFF;
  border: 1px solid #BABABA;
}
.ball .notif .bar .action::after {
  content: '';
  border-left: 5px solid #FFF;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  display: block;
  margin-left: 7px;
  margin-top: 4px;
}
.ball .notif .arrow {
  top: 30px;
  border-top: 7px solid #E6E6E6;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  width: 0;
  margin: 0 auto;
  transform-origin: top;
  transform: scale(0);
}

.anim-start .ball {
  opacity: 1;
  transform: none;
  transition-duration: .3s;
}
.anim-start .ball .notif {
  opacity: 1;
  transition-duration: .2s;
  transition-delay: 1.6s;
}
.anim-start .ball .notif .bar {
  width: 100%;
  transition-duration: .6s;
  transition-delay: 1.6s;
}
.anim-start .ball .notif .arrow {
  transform: none;
  transition-delay: 1.6s;
  transition-duration: .3s;
}
.anim-start .ball .halo {
  opacity: 0;
  transform: none;
  transition-duration: .6s;
  transition-delay: 1.2s;
}
.anim-start .ball .msg-count {
  opacity: 1;
  transform: none;
  transition-duration: .3s;
  transition-delay: .6s;
}
